.radio-list {
  &__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $primary-hover;
    }

    &:active {
      color: $primary-active;
    }
  }

  &__input,
  &__label {
    cursor: pointer;

    transition: all .2s ease;
  }

  &__input {
    width: 17px;
    min-width: 17px;
    height: 17px;
    padding: 3px;
    margin: 0;
    margin-right: 23px;

    border: 2px solid $radio-color;
    border-radius: 50%;
    appearance: none;

    &:checked {
      background-color: $radio-color;
      background-position: center;
      background-clip: content-box;
    }

    &:hover {
      border-color: $primary-hover;

      &:checked {
        background-color: $primary-hover;
      }
    }

    &:active {
      border-color: $primary-active;

      &:checked {
        background-color: $primary-active;
      }
    }
  }
}
