.video {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  &__title {
    flex-basis: 610px;
    padding: 0;
    margin-bottom: 0;

    border: 0;
  }

  &__text {
    flex-basis: 720px;
    margin: 0;
    margin-top: 2px;

    line-height: 38px;
    color: $primary-dark-text;
  }

  &__player {
    margin-bottom: 40px;
  }
}
