.video {
  padding-top: 90px;

  &__inner,
  &__text-group {
    display: flex;
  }

  &__inner {
    flex-direction: column;
  }

  &__text-group {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    order: 1;
  }

  &__title {
    flex-basis: 610px;
    padding: 0;
    margin-bottom: 0;

    border: 0;
  }

  &__text {
    flex-basis: 720px;
    margin: 0;

    line-height: 38px;
    color: $dark-text;
  }

  &__player {
    margin-bottom: 40px;
  }
}
