.contacts {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__text-group {
    max-width: 290px;
  }

  &__subtitle,
  &__text,
  &__link {
    color: $primary-dark-text;
  }

  &__subtitle,
  &__text {
    margin: 0;
  }

  &__subtitle {
    max-width: 225px;
    margin-bottom: 52px;

    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
  }

  &__text,
  &__link {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__address {
    font-style: normal;
  }

  &__link {
    text-decoration: none;

    transition: color .2s ease;

    &:hover {
      color: $primary-hover;
    }

    &:active {
      color: $primary-active;
    }
  }

  &__map-wrapper {
    position: relative;
    width: 66.655%;
    height: 0;
    padding-bottom: 43%;

    background-image: url("../assets/images/map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
