.control-bar {
  box-sizing: border-box;
  min-height: 85px;
  padding: 24px 30px;
  column-gap: 50px;

  background-color: $extra-dark-bg;

  &,
  &__volume-bar {
    display: flex;
    align-items: center;
  }

  &__btn {
    height: 31px;
    padding: 0;

    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;

    transition: all .2s ease;

    &:hover,
    &:focus,
    &:active {
      filter: $control-hover;
    }

    &--play {
      width: 23px;
      min-width: 23px;

      background-image: url("../assets/svg/play-btn.svg");
    }

    &--vol {
      width: 38px;
      min-width: 38px;

      background-image: url("../assets/svg/volume-btn.svg");
    }

    &--fullscreen {
      width: 36px;
      min-width: 36px;
      height: 36px;

      background-image: url("../assets/svg/fullscreen-btn.svg");
    }
  }

  &__progress-bar,
  &__progress-bar::-webkit-slider-thumb {
    appearance: none;
  }

  &__progress-bar {
    width: 929px;
    height: 8px;
    margin: 0;

    background: linear-gradient(to right, $progress-active 0%, $progress-active 0%, $progress-bg 0%, $progress-bg 100%);

    &--vol {
      width: 155px;

      background: linear-gradient(to right, $progress-active 44%, $progress-active 44%, $progress-bg 0%, $progress-bg 100%);
    }
  }

  &__progress-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;

    cursor: ew-resize;
    background-color: $light-bg;
    border-radius: 50%;
  }

  &__volume-bar {
    column-gap: 50px;
  }
}
