.control-bar {
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20px 41px;
  min-height: 85px;
  padding: 24px 41px;

  background-color: $dark-bg;

  &,
  &__volume-bar {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: block;
    height: 30px;
    padding: 0;

    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0;

    transition: filter .2s ease;

    &:hover,
    &:focus,
    &:active {
      filter: $dark-filter;
    }

    &--prev,
    &--next {
      width: 27px;
      min-width: 27px;
    }

    &--prev {
      background-image: url("../assets/svg/prev-btn.svg");
    }

    &--play {
      width: 23px;
      min-width: 23px;

      background-image: url("../assets/svg/play-btn.svg");
    }

    &--next {
      background-image: url("../assets/svg/next-btn.svg");
    }

    &--vol {
      width: 38px;
      min-width: 38px;

      background-image: url("../assets/svg/volume-btn.svg");
    }

    &--fullscreen {
      width: 36px;
      min-width: 36px;
      height: 36px;

      background-image: url("../assets/svg/fullscreen-btn.svg");
    }
  }

  &__progress-bar,
  &__progress-bar::-webkit-slider-thumb {
    appearance: none;
  }

  &__progress-bar {
    width: 100%;
    max-width: 820px;
    height: 8px;
    margin: 0;

    background: linear-gradient(to right, $active-bar 0%, $active-bar 47%, $light-bar 47%, $light-bar 100%);

    &--vol {
      width: 155px;
    }
  }

  &__progress-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;

    cursor: ew-resize;
    background-color: $light-btn;
    border: 0;
    border-radius: 50%;
  }

  &__volume-bar {
    margin-right: 7px;
    column-gap: 20px;
  }
}
