.footer-menu {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 153px;

  &__item {
    padding: 0 10px;
  }

  &__link {
    display: block;

    font-weight: 100;
    line-height: 50px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;

    transition: color .2s ease;

    &:hover {
      color: $primary-hover;
    }

    &:focus,
    &:active {
      color: $primary-active;
    }
  }
}
