.video-player {
  width: 100%;

  background-color: $extra-dark-bg;

  &,
  &__wrapper {
    position: relative;
  }

  &__wrapper {
    padding-bottom: 45.14%;
  }

  &__screen,
  &__screen-btn,
  &__playback,
  &__rewind {
    transition: opacity .2s ease;
  }

  &__screen {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__screen-btn,
  &__playback,
  &__rewind {
    position: absolute;
  }

  &__screen-btn {
    top: 50%;
    left: 50%;
    width: 220px;
    height: 220px;
    padding: 0;

    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;

    transform: translate(-50%, -50%);

    svg {
      width: 100%;
      height: 100%;
    }

    path {
      transition: fill .2s ease;
    }

    &:hover path {
      fill: $screen-btn-hover;
    }
  }

  &__playback,
  &__rewind {
    bottom: 4%;

    opacity: 0;
  }

  &__playback {
    left: 2%;
  }

  &__rewind {
    right: 2%;
    width: 150px;

    text-align: center;

    background-image: url("../assets/svg/rewind.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}
