:fullscreen {
  .video-player__wrapper {
    height: calc(100vh - 85px);
    padding: 0;
  }

  .video-player__screen {
    width: 100%;
    height: 100%;
  }

  .control-bar {
    width: 100%;
    height: 85px;
  }
}
