.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  column-gap: 25px;

  list-style: none;

  &,
  &__link {
    box-sizing: border-box;
  }

  &__item {
    transition: all .2s ease;

    &:hover,
    &:focus,
    &:active {
      filter: $social-hover;
    }
  }

  &__link {
    display: block;
    width: 48px;
    height: 48px;

    text-decoration: none;

    filter: drop-shadow(0 0 0 $footer-border-color);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px auto;
    border: 1px solid $footer-border-color;
    border-radius: 50%;

    &--youtube {
      background-image: url("../assets/svg/youtube-icon.svg");
    }

    &--instagram {
      background-image: url("../assets/svg/instagram-icon.svg");
    }

    &--facebook {
      background-image: url("../assets/svg/facebook-icon.svg");
    }

    &--twitter {
      background-image: url("../assets/svg/twitter-icon.svg");
    }

    &--pinterest {
      background-image: url("../assets/svg/pinterest-icon.svg");
    }
  }
}
