.booking-modal {
  &__overlay,
  &__booking {
    position: fixed;
  }

  &__overlay {
    top: 0;
    z-index: -1;
  }

  &__booking {
    top: 50%;
    left: -10000px;
    z-index: 100;

    transform: translate(0, -50%);
  }
}
