.booking-modal {
  &__overlay,
  &__booking {
    position: fixed;
  }

  &__overlay {
    top: 0;
    z-index: -1;
  }

  &__booking {
    top: 50%;
    left: 0;
    z-index: 3;

    transform: translate(-10000px, -50%);
  }
}
