.compare-slider {
  position: relative;
  max-width: 720px;

  &,
  &__after {
    height: 100%;
  }

  &__after,
  &__divider {
    position: absolute;
  }

  &__before {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__after {
    top: 0;
    width: 61.2%;

    background-image: url("../assets/images/compare-slider/las-meninas-after-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__divider {
    top: 50%;
    left: 58.5%;
    z-index: 1;
    width: 5.42%;
    height: 100%;

    cursor: ew-resize;
    background-image: url("../assets/svg/explore-divider.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    transform: translateY(-50%);
  }
}
