.compare-slider {
  position: relative;
  width: 720px;

  &,
  &__after {
    height: 700px;
  }

  &__after,
  &__divider,
  &__divider::before,
  &__divider::after {
    position: absolute;
  }

  &__before {
    display: block;
  }

  &__after {
    top: 0;
    width: 441px;

    background-image: url("../assets/images/las-meninas-after.jpg");
    background-repeat: no-repeat;
  }

  &__divider {
    top: 50%;
    left: 421px;
    z-index: 1;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    cursor: ew-resize;
    background-color: transparent;
    border: 5px solid #fff;
    border-radius: 50%;

    transform: translateY(-50%);

    &::before,
    &::after {
      left: 50%;
      width: 5px;
      height: 332px;

      content: "";
      background-color: #fff;

      transform: translateX(-50%);
    }

    &::before {
      top: -335px;
    }

    &::after {
      top: 33px;
    }
  }
}
