.tickets-slider {
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 38.2%;

  overflow: hidden;
  cursor: pointer;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
