.explore {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__wrapper {
    flex-basis: 659px;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;

    line-height: 38px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__special-text {
    color: $explore-special-color;
  }

  &__compare-slider {
    margin-top: 15px;
  }
}
