.booking {
  width: 100%;
  max-width: 1440px;

  color: $booking-primary-dark;

  background-color: $light-bg;
  transition: left 1s ease;

  &,
  &__title {
    font-weight: 400;
  }

  &__close-btn,
  &__fieldset {
    padding: 0;

    border: 0;
  }

  &__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;

    cursor: pointer;
    background-color: transparent;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;

      content: "";
      background-color: $dark-bg;
      opacity: 0;

      transition: all .2s ease;
      transition-delay: 1s;
      transform-origin: center;
    }
  }

  &__form,
  &__wrapper {
    display: flex;
  }

  &__form {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 970px;
    padding: 90px 0;
    margin: 0 auto;
    gap: 40px;
  }

  &__details {
    width: 400px;
  }

  &__header {
    padding-top: 41px;
    margin-bottom: 59px;

    background-image: url("../assets/svg/logo-gold.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 85px auto;
  }

  &__title,
  &__subtitle,
  &__fieldset,
  &__entry-title,
  &__text {
    margin: 0;
  }

  &__title,
  &__entry-title {
    font-family: Forum, serif;
    color: $section-title-bright;
  }

  &__title {
    margin-bottom: 14px;

    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
  }

  &__subtitle,
  &__text,
  &__entry-title {
    font-size: 18px;
    line-height: 21px;
  }

  &__subtitle {
    padding-bottom: 10px;
    margin-bottom: 13px;

    color: $booking-subtitle-color;

    border-bottom: 2px solid $booking-underline-color;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__entry {
    padding: 10px 15px 14px;

    border: 1px solid $booking-primary-dark;
  }

  &__entry-title {
    padding-bottom: 5px;
    margin-bottom: 16px;

    border-bottom: 1px solid $title-underline-color;
  }

  &__wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
