@media (max-width: 1919px) {
  //- *** COMMON COMPONENTS ***
  .page {
    font-size: 20px;
    line-height: 23px;
  }

  .section {
    padding: 60px 0;

    &__title {
      padding-bottom: 20px;
      margin-bottom: 60px;

      font-size: 50px;
      line-height: 75px;
    }
  }

  // *** HEADER ***
  .main-header {
    padding: 49px 0 48px;

    &__nav {
      position: absolute;
      top: 81px;
      left: -1000px;
      z-index: 2;
      min-width: 297px;
      min-height: 585px;
      padding: 22px 55px;

      transition: transform .5s ease;
    }

    &__button {
      display: block;
    }
  }

  .logo {
    height: 33px;

    line-height: 33px;
  }

  .main-menu {
    flex-direction: column;
    max-width: 122px;

    &__item {
      padding: 0;

      background-image: url("../assets/svg/menu-arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 12px auto;
    }

    &__link  {
      line-height: 48px;
    }
  }

  // *** WELCOME ***
  .welcome {
    padding: 0;

    &__inner {
      min-height: auto;
    }

    &__wrapper {
      padding-top: 50px;
    }

    &__title {
      padding: 0;
      margin-bottom: 25px;

      font-size: 50px;
      line-height: 90px;
    }

    &__subtitle {
      margin-bottom: 50px;

      font-size: 24px;
      line-height: 28px;
    }

    &__button {
      width: 300px;
      min-height: 60px;
    }
  }

  .welcome-slider {
    min-width: 700px;
    padding-bottom: 83.5%;

    &__controls {
      justify-content: flex-end;
      width: 100%;
      height: 20.5%;
      column-gap: 45px;
    }

    &__bullets,
    &__numbers {
      margin-right: 0;
    }

    &__bullets {
      column-gap: 25px;

      &.swiper-pagination-bullets {
        width: 160px;
      }

      &.swiper-pagination-horizontal .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
      }
    }

    &__numbers {
      width: 71px;

      &::after {
        width: 1px;
        height: 16px;
      }
    }
  }

  // *** VISITING ***
  .visiting {
    &__wrapper {
      justify-content: center;
      gap: 59px 108px;
    }

    &__item {
      width: calc(50% - 162px);
    }
  }

  .place {
    &__img {
      margin-bottom: 25px;
    }

    &__title {
      font-size: 28px;
      line-height: 31px;
      letter-spacing: 3px;

      &::after {
        max-width: 150px;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 19px;
    }
  }

  // *** EXPLORE ***
  .explore {
    &__wrapper {
      flex-basis: 100%;
      margin-bottom: 59px;
    }

    &__text {
      margin-bottom: 0;

      line-height: 37px;

      &:last-child {
        display: none;
      }
    }

    &__compare-slider {
      margin: 0 auto;
    }
  }

  .compare-slider {
    width: 75%;
  }

  // *** VIDEO ***
  .video {
    &__wrapper {
      margin-bottom: 0;
    }

    &__title {
      padding: 0;
      margin-bottom: 40px;
    }

    &__text {
      display: none;
    }
  }

  .video-player {
    &__screen-btn {
      width: 152px;
      height: 152px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .control-bar {
    min-height: 60px;
    padding: 14px 40px;
    column-gap: 30px;

    &__btn {
      &--vol,
      &--fullscreen {
        width: 26px;
        min-width: 26px;
      }

      &--vol {
        height: 20px;
      }

      &--fullscreen {
        height: 26px;
      }
    }

    &__progress-bar {
      height: 5px;

      &::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
      }
    }

    &__volume-bar {
      width: 35.5%;
      column-gap: 31px;
    }
  }

  // *** GALLERY ***
  .gallery {
    height: 1460px;

    &::after {
      height: 239px;
    }

    &__title {
      padding-bottom: 0;
    }
  }

  // *** TICKETS ***
  .tickets {
    &__wrapper {
      column-gap: 80px;
    }

    &__picture {
      max-width: 700px;
    }
  }

  .form {
    flex-basis: auto;

    &__subtitle,
    &__ticket-count {
      margin-bottom: 30px;
    }

    &__subtitle {
      &--amount {
        text-align: left;
      }
    }

    &__ticket-type {
      display: none;
    }

    &__amount {
      align-items: normal;
    }

    &__age {
      margin-bottom: 10px;

      font-size: 22px;
      line-height: 26px;
    }

    &__ticket-count {
      max-width: 175px;

      &:last-of-type {
        margin-bottom: 24px;
      }
    }

    &__total {
      margin-bottom: auto;
    }

    &__total-sum {
      display: inline-block;
      margin-left: 14px;
    }
  }

  .ticket-count {
    width: 175px;
    padding: 0 15px;
  }

  .buy-btn {
    font-size: 22px;
    line-height: 26px;
  }

  // *** CONTACTS ***
  .contacts {
    padding-bottom: 63px;

    &__subtitle {
      max-width: 185px;
      margin-bottom: 35px;

      font-size: 24px;
      line-height: 28px;
    }

    &__text {
      margin-bottom: 15px;
    }

    &__map-wrapper {
      width: 70.5%;
      padding-bottom: 46%;
    }
  }

  // *** FOOTER ***
  .main-footer {
    &__top {
      padding-bottom: 33px;
    }

    &__wrapper {
      column-gap: calc(100% / 3 - 298px);
    }

    &__social {
      margin-bottom: 16px;
    }

    &__bottom {
      justify-content: space-between;
      padding-top: 52px;

      font-size: 22px;
    }

    &__text {
      &--year,
      &--school {
        margin-right: 0;
      }

      &--school {
        margin-left: 10px;
      }
    }
  }

  .footer-menu {
    column-gap: 85px;

    &__item {
      margin-bottom: 10px;
    }

    &__link {
      font-size: 22px;
      line-height: 40px;
    }
  }

  // *** BOOKING-MODAL ***
  .booking {
    &__close-btn {
      top: 25px;
      right: 22px;
    }

    &__form {
      padding: 75px 0 30px;
    }
  }
}
