@media (max-width: 768px) {
  // *** COMMON COMPONENTS ***
  .page {
    font-size: 18px;
    line-height: 21px;
  }

  .section {
    padding: 40px 0;

    &__title {
      margin-bottom: 40px;

      font-size: 40px;
      line-height: 60px;
    }
  }

  // *** HEADER ***
  .main-header {
    padding: 44px 0 33px;

    &__nav {
      top: 66px;
      width: 100%;
      padding-bottom: 33px;
      row-gap: 22px;
    }

    &__wrapper {
      display: grid;
      padding-bottom: 35px;
      margin-bottom: 14px;
    }

    &__button {
      top: 11px;
    }

    &__social {
      display: block;
    }
  }

  .main-menu {
    &__link {
      font-size: 20px;
    }
  }

  // *** WELCOME ***
  .welcome {
    padding: 0;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: auto;
    }

    &__wrapper {
      padding-top: 0;
    }

    &__title {
      margin-bottom: 25px;

      font-size: 40px;
      line-height: 60px;
      text-align: center;
    }

    &__subtitle {
      margin-bottom: 47px;

      font-size: 20px;
      line-height: 23px;
    }

    &__button {
      display: none;
    }

    &__slider {
      position: relative;
      right: 0;
    }
  }

  .welcome-slider {
    max-width: 100%;
    padding-bottom: 88.6%;

    &::after {
      display: none;
    }

    &__img {
      height: 84.6%;
    }

    &__controls {
      justify-content: center;
      height: 15.5%;
      padding: 30px 0 29px;
    }

    &__numbers {
      font-size: 20px;
    }
  }

  // *** VISITING ***
  .visiting {
    padding-bottom: 78px;

    &__title {
      margin-bottom: 40px;
    }

    &__wrapper {
      gap: 39px 8%;
    }

    &__item {
      width: calc(50% - 11.8%);
    }
  }

  .place {
    &__title {
      font-size: 22px;
      line-height: 24px;
    }

    &__img {
      margin-bottom: 27px;
    }
  }

  // *** EXPLORE ***
  .explore {
    &__inner {
      display: block;
    }

    &__wrapper {
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__text {
      display: none;
    }
  }

  .compare-slider {
    width: 100%;
    max-width: 728px;

    &__after {
      background-image: url("../assets/images/compare-slider/las-meninas-after-768.jpg");
    }
  }

  // *** VIDEO ***
  .video {
    padding-bottom: 80px;

    &__title {
      margin-bottom: 20px;
    }

    &__player {
      margin-bottom: 21px;
    }
  }

  .video-player {
    &__screen-btn {
      width: 80px;
      height: 80px;
    }
  }

  .control-bar {
    position: relative;
    min-height: 53px;
    padding: 14px 30px;
    column-gap: 35px;

    &__btn {
      &--play {
        height: 29px;
      }

      &--vol,
      &--fullscreen {
        width: 27px;
        min-width: 27px;
      }

      &--vol {
        height: 21px;
      }

      &--fullscreen {
        height: 27px;
      }
    }

    &__progress-bar {
      &--video {
        position: absolute;
        top: -3px;
        left: 0;
      }
    }

    &__volume-bar {
      width: 100%;
      column-gap: 35px;
    }
  }

  .video-slider {
    &__wrapper {
      margin-bottom: 20px;
    }

    &__frame-wrapper {
      padding-bottom: 27.2%;
    }

    &__pagination {
      max-width: 190px;
    }

    &__bullets {
      &.swiper-pagination-horizontal .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
    }
  }

  // *** GALLERY ***
  .gallery {
    height: 1220px;

    &::after {
      height: 235px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__wrapper {
      height: 2000px;
      overflow: hidden;
      column-gap: 24px;

      &::before,
      &::after {
        display: none;
      }
    }

    &__picture {
      width: calc(50% - 12px);

      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }

  // *** TICKETS ***
  .tickets {
    &__title {
      margin-bottom: 40px;
    }

    &__wrapper {
      column-gap: 59px;
    }
  }

  .tickets-slider {
    width: 61%;
    padding-bottom: 46.6%;
  }

  .form {
    &__subtitle,
    &__ticket-count:last-of-type,
    &__total {
      margin-bottom: 39px;
    }

    &__ticket-count {
      margin-bottom: 25px;
    }
  }

  // *** PARALLAX ***
  .parallax {
    height: 300px;
  }

  // *** CONTACTS ***
  .contacts {
    padding-bottom: 67px;

    &__wrapper {
      flex-wrap: wrap;
    }

    &__subtitle,
    &__text:last-child {
      margin-bottom: 40px;
    }

    &__subtitle {
      max-width: 155px;

      font-size: 20px;
      line-height: 23px;
    }

    &__map-wrapper {
      width: 100%;
      padding-bottom: 65.4%;
    }
  }

  // *** FOOTER ***
  .main-footer {
    padding-top: 49px;

    &__top {
      padding-bottom: 40px;

      border-bottom-width: 1px;
    }

    &__wrapper {
      column-gap: calc(100% / 3 - 155px);
    }

    &__nav {
      margin-bottom: 33px;
    }

    &__social {
      margin-right: 90px;
      margin-bottom: 0;
      margin-left: auto;
    }

    &__bottom {
      padding-top: 40px;
    }
  }

  .footer-menu {
    column-gap: 164px;

    &__link {
      font-size: 18px;
      line-height: 36px;
    }
  }

  // *** BOOKING-MODAL ***
  .booking {
    box-sizing: border-box;
    max-width: 590px;
    height: 100vh;
    padding: 80px 30px 40px;
    overflow-y: scroll;

    &__close-btn {
      right: 25px;
    }

    &__form {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__details {
      width: 100%;
      margin-bottom: 51px;
    }

    &__header {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__entry {
      padding-top: 8px;
      padding-bottom: 13px;
    }
  }

  .booking-field {
    &--date {
      margin-right: 28px;
    }

    &__input {
      &--date,
      &--time {
        width: 251px;
      }
    }
  }

  .booking-overview {
    width: 100%;
    padding: 25px 15px;
    padding-bottom: 23px;

    &__total {
      margin-bottom: 15px;
    }

    &__payment-card {
      margin-bottom: 25px;
    }
  }

  .payment-card {
    max-width: 100%;

    &__backside {
      top: 30px;
    }
  }
}
