.video-slider {
  overflow: hidden;

  &__wrapper {
    display: grid;
    grid-auto-columns: calc(100% / 3 - 28px);
    grid-auto-flow: column;
    margin-bottom: 40px;
    column-gap: 42px;
  }

  &__frame-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $extra-dark-bg;
    border: 0;
  }

  &__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  &__arrow {
    width: 10px;
    height: 12px;
    padding: 0;

    cursor: pointer;
    background-color: transparent;
    border: 0;

    path {
      transition: fill .2s ease;
    }

    &:hover path {
      fill: $video-bullet-hover;
    }
  }

  &__bullet-item {
    display: inline-block;
    width: 12px;
    height: 12px;

    cursor: pointer;
    background-color: $video-bullet-color;
    border-radius: 50%;

    transition: background-color .2s ease;

    &--active {
      background-color: $video-bullet-active;
    }

    &:hover {
      background-color: $video-bullet-hover;
    }
  }
}
