.video-slider {
  overflow: hidden;

  &__wrapper {
    margin-bottom: 40px;
  }

  &__frame-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 17.64%;
  }

  &__frame,
  &__arrow {
    border: 0;
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $extra-dark-bg;
  }

  &__pagination,
  &__bullets {
    display: flex;
    align-items: center;
  }

  &__pagination {
    max-width: 200px;
    margin: 0 auto;
  }

  &__bullets.swiper-pagination-horizontal .swiper-pagination-bullet,
  &__arrow {
    height: 12px;
    margin: 0;

    cursor: pointer;
  }

  &__bullets {
    justify-content: center;
    column-gap: 20px;

    &.swiper-pagination-horizontal .swiper-pagination-bullet {
      width: 12px;

      background-color: $video-bullet-color;
      border-radius: 50%;
      opacity: 1;

      transition: background-color .2s ease;

      &-active {
        background-color: $video-bullet-active;
      }

      &:hover {
        background-color: $video-bullet-hover;
      }
    }
  }

  &__arrow {
    position: static;
    width: 10px;
    padding: 0;

    background-color: transparent;

    svg {
      pointer-events: none;
    }

    path {
      transition: fill .2s ease;
    }

    &:hover path {
      fill: $video-bullet-hover;
    }

    // SWIPER
    &::after {
      content: "";
    }
  }
}
